
# frontend
Si-mantar/node_modules/
Si-mantar/.pnp/
Si-mantar/.pnp.js

Si-mantar/coverage/

Si-mantar/build/

Si-mantar/.DS_Store
Si-mantar/.env.local
Si-mantar/.env.development.local
Si-mantar/.env.test.local
Si-mantar/.env.production.local

Si-mantar/npm-debug.log*
Si-mantar/yarn-debug.log*
Si-mantar/yarn-error.log*

#backend
trying/.phpunit.cache
trying/node_modules/
trying/public/build/
trying/public/hot/
trying/public/storage/
trying/storage/*.key
trying/vendor/
trying/.env
trying/.env.backup
trying/.env.production
trying/.phpunit.result.cache
trying/Homestead.json
trying/Homestead.yaml
trying/auth.json
trying/npm-debug.log
trying/yarn-error.log
trying/.fleet
trying/.idea/
trying/.vscode/
